<div class="dashboard">
  <h2 class="text-50">{{ 'DASHBOARD' | translate }}</h2>
  <div class="grid flex-wrap">
    <div class="col-12 md:col-6 p-2">
      <div class="surface-100 p-3">
        <app-years-multiple-winners></app-years-multiple-winners>
      </div>
    </div>
    <div class="col-12 md:col-6 p-2">
      <div class="surface-100 p-3">
        <app-studio-winners></app-studio-winners>
      </div>
    </div>
    <div class="col-12 md:col-6 p-2">
      <div class="surface-100 p-3">
        <app-producer-min-max></app-producer-min-max>
      </div>
    </div>
    <div class="col-12 md:col-6 p-2">
      <div class="surface-100 p-3">
        <app-movie-winners-year></app-movie-winners-year>
      </div>
    </div>
  </div>
</div>
